<section class="category">
  <div class="container">
    <div class="row">
      <div class="col-md-5th-1 col-sm-4 col-md-offset-0 col-sm-offset-2">
        <div class="furni">
          <h1>Furniture</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.FURNITURE_TEMPLATE)"><img src="./assets/images/furniture.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Properties</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.PROPERTIES_TEMPLATE)"><img src="./assets/images/properties.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Vehicles</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.VEHICLES_TEMPLATE)"><img src="./assets/images/vehicles.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Electronics & Home Appliances</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.ELECTRONICS_HOME_APPLIANCES_TEMPLATE)"><img src="./assets/images/electronics.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Pets</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.PETS_TEMPLATE)"><img src="./assets/images/pets.png" alt=""></a></div>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5th-1 col-sm-4 col-md-offset-0 col-sm-offset-2">
        <div class="furni">
          <h1>Kids</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.KIDS_TEMPLATE)"><img src="./assets/images/kids.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Services</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.SERVICES_TEMPLATE)"><img src="./assets/images/services.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Jobs</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.JOBS_TEMPLATE)"><img src="./assets/images/jobs.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Events & Software</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.BOOKS_SOFTWARE_TEMPLATE)"><img src="./assets/images/books.png" alt=""></a></div>
          </h2>
        </div>
      </div>
      <div class="col-md-5th-1 col-sm-4">
        <div class="furni">
          <h1>Fashion &amp; Beauty</h1>
          <h2>
            <div class="btn-circle btn-xl"><a href="javascript:void(0)" (click)="fetchByCategoryInSelectedCity(definedConstantsService.FASHION_BEAUTY_TEMPLATE)"><img src="./assets/images/beauty.png" alt=""></a></div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>