<header class="hd-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          <p><a href="/">Logo</a></p>
        </div>
      </div>
      <div class="col-md-10">
        <div class="col-md-6">
          <!-- Button trigger modal -->
          <div  [hidden]="isPostAnAdTabSelected" class="btn-lg" data-toggle="modal" data-target="#myModal1" #mymodal>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{slelectedCityAndStatePlaceHolder}} </p>
          </div>

          <!-- Modal1 -->
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close1><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title" id="myModalLabel">
                    <div class="col-md-6">
                      <div id="imaginary_container">
                        <div class="input-group stylish-input-group" *ngIf="statesAndCities">

                          <input type="text" class="form-control" placeholder="Type region or city" [(ngModel)]="searchText">
                          <ul>
                            <li *ngFor="let city of allCities | searchFilter : searchText" (click)="selectCity($event, city);closeModal1();">
                              <a class="popular-cities"  *ngIf="searchText.length > 2 ">{{ city }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="modal-title" id="myModalLabel">Popular cities:</h4>
                    </div>
                  </div>
                  <div class="popular-cities">
                    <div class="list full" *ngFor="let city of popularCities;let i=index" (click)="selectCity($event, city)">
                      <ul>
                        <li>
                          <a href="javascript:void(0)" class="link" (click)="closeModal1()">
                            <span>{{city}}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" data-toggle="modal" data-target="#myModal2">
                  <div id="signin">
                    <a href="javascript:void(0)" (click)="closeModal1()">All Cities</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal2 -->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close2>
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    <div class="col-md-6">
                      <div id="imaginary_container">
                        <div class="input-group stylish-input-group" *ngIf="statesAndCities">
                          <input type="text" class="form-control" placeholder="Type region or city" [(ngModel)]="searchText">
                          <ul>
                              <li *ngFor="let city of allCities | searchFilter : searchText" (click)="selectCity($event, city);closeModal2();">
                                <a class="popular-cities"  *ngIf="searchText.length > 2 ">{{ city }}</a>
                              </li>
                            </ul>
                        </div>
                      </div>

                    </div>
                  </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="modal-title" id="myModalLabel">States</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 city-list" *ngFor="let state of statesWithCity;let j=index" data-toggle="modal" data-target="#myModal3">
                      <ul (click)="selectState(state)">
                        <li>
                          <a href="javascript:void(0)" (click)="closeModal2()">{{state.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>






          <!-- Modal3 -->
          <div *ngIf="selectedState" class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close3>
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    <div class="col-md-6">
                      <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                          <input type="text" class="form-control" placeholder="Type city name">
                        </div>
                      </div>
                    </div>
                  </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="modal-title" id="myModalLabel">Cities</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 city-list" *ngFor="let city of selectedState.cities;let j=index" (click)="selectCity($event,city.cityName)">
                      <ul>
                        <li>
                          <a href="javascript:void(0)" (click)="closeModal3()">{{city.cityName}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="top-bar">
            <div class="header-top-inner">
              <div class="dropdown">
                <button *ngIf="!isPostAnAdTabSelected" class="btn btn-default dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                  <i class="fa fa-user-circle"></i>&nbsp; My Account
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li>
                    <a href="javascript:void(0)">ADS</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">MESSAGES</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">ALERTS</a>
                  </li>
                </ul>
                <a *ngIf="!isPostAnAdTabSelected" href="javascript:void(0)" class="btn btn-default post" type="button" (click)="routeToPostAdd()"><i class="fa fa-bullhorn"></i>&nbsp; Post Free Ad</a>
                <a  href="javascript:void(0)" class="btn btn-default" id="loginOrReginster" role="button" data-toggle="modal"  data-target="#login-modal">
                  <i class="fa fa-lock"></i>&nbsp; Login (or) Register</a> </div>
              <!-- /.cnt-account -->
            </div>
            <!-- /.header-top-inner -->
          </div>
          <!-- /.top-bar-->
        </div>
      </div>

          <!-- BEGIN # MODAL LOGIN -->
          <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" align="center"> <img class="img-circle" id="img_logo" src="/assets/images/login-logo.png">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                  </div>
                  <!-- Begin # DIV Form -->
                  <div id="div-forms">
                    <!-- Begin # Login Form -->
                    <form id="login-form">
                      <div class="modal-body">
                        <div id="div-login-msg">
                          <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                          <span id="text-login-msg">Type your username and password.</span> </div>
                        <input id="login_username" (input)="userName=$event.target.value" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                        <input id="login_password" (input)="userPassword=$event.target.value" type="password" placeholder="Password" required>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                            Remember me </label>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div>
                          <p>By Submitting, I Agree T&amp;C</p>
                          <button type="submit" (click)="login()" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                        <div class="social_icon">
                          <ul>
                            <li class="face"><a href="javascript:void(0)"><i class="fa fa-facebook-square"></i> &nbsp;Connect with Facebook</a></li>
                            <li class="goog"><a href="javascript:void(0)"><i class="fa fa-google-plus-square"></i> &nbsp;Connect with Google Plus</a></li>
                          </ul>
                        </div>
                        <div>
                          <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                          <button id="login_register_btn" type="button" (click)="registerTemplateFetch()" class="btn btn-link">Register</button>
                        </div>
                      </div>
                    </form>
                    <!-- End # Login Form -->
                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
                      <div class="modal-body">
                        <div id="div-lost-msg">
                          <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                          <span id="text-lost-msg">Type your e-mail.</span> </div>
                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" required>
                      </div>
                      <div class="modal-footer">
                        <div>
                          <p>Password reset like us selected successfully</p>
                          <button type="submit" class="btn btn-primary btn-sm">Verify</button>
                        </div>
                        <div class="social_icon">
                          <ul>
                            <li class="face"><a href="javascript:void(0)"><i class="fa fa-facebook-square"></i> &nbsp;Connect with Facebook</a></li>
                            <li class="goog"><a href="javascript:void(0)"><i class="fa fa-google-plus-square"></i> &nbsp;Connect with Google Plus</a></li>
                          </ul>
                        </div>
                        <div>
                          <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                          <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                      </div>
                    </form>
                    <!-- End | Lost Password Form -->
                    <!-- Begin | Register Form -->
                    <form  id="register-form" style="display:none;">
                      <div class="modal-body">
                        <div id="div-register-msg">
                          <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                          <span id="text-register-msg">Register an account.</span> </div>
                        <input name="register_username" (input)="userName=$event.target.value" class="form-control" type="text" placeholder="Username" required>
                        <input name="register_email"  (input)="userEmail.parameterValue=$event.target.value" class="form-control" type="text" placeholder="E-Mail" required>
                        <input name="register_phone"  (input)=" userTelephone.parameterValue=$event.target.value"  class="form-control" type="text" placeholder="Phone number" required>
                        <input name="register_password"  (input)="userPassword.parameterValue=$event.target.value" class="form-control" type="password" placeholder="Password" required>
                        <input name="register_confirm_password" class="form-control" type="password" placeholder="Confirm Password" required>
                      </div>
                      <div class="modal-footer">
                        <div>
                          <p>By Submitting, I Agree</p>
                          <button type="submit" (click)="register()" class="btn btn-primary btn-sm">Register</button>
                        </div>
                        <div class="social_icon">
                          <ul>
                            <li class="face"><a href="javascript:void(0)"><i class="fa fa-facebook-square"></i> &nbsp;Connect with Facebook</a></li>
                            <li class="goog"><a href="javascript:void(0)"><i class="fa fa-google-plus-square"></i> &nbsp;Connect with Google Plus</a></li>
                          </ul>
                        </div>
                        <div>
                          <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                          <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                        </div>
                      </div>
                    </form>
                    <!-- End | Register Form -->
                  </div>
                  <!-- End # DIV Form -->
                </div>
              </div>
            </div>
          <!-- END # MODAL LOGIN -->
      </div>
    </div>

</header>
