<div class="col-sm-2 col-md-2">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" *ngIf="subCategories">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> {{subCategories.objectTypename}} </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" >
        <ul class="list-group" *ngFor="let childHeaders of subCategories.childObjectTypes">
          <li class="list-group-item">
            <a (click)="selectCategoryObject(childHeaders,childHeaders.objectTypename)">{{childHeaders.objectTypename}}</a>
            <ul class="child-header-list" *ngFor="let childObjects of childHeaders.childObjectTypes">
              <li class="list-group-item">
                <a (click)="selectCategoryObject(childObjects,childHeaders.objectTypename)">{{childObjects.objectTypename}}</a>
              </li>
              <!-- <li class="list-group-item">
                <a href="#">BMW</a>
              </li>
              <li class="list-group-item">
                <a href="#">Chevrolet</a>
              </li>
              <li class="list-group-item">
                <a href="#">Daewoo</a>
              </li>
              <li class="list-group-item">
                <a href="#">Fiat</a>
              </li>
              <li class="list-group-item">
                <a href="#">Ford</a>
              </li> -->
            </ul>
          </li>
          <!-- <li class="list-group-item">
            <a href="#"> Boats </a>
          </li>
          <li class="list-group-item">
            <a href="#">Cycles</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>


