<footer>
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="footer-widget usefull-link">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="javascript:void(0)">Popular Search</a></li>
              <li><a href="javascript:void(0)">Locations, we are in</a></li>
              <li><a href="javascript:void(0)">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer-widget usefull-link">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="javascript:void(0)">About us</a></li>
              <li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
              <li><a href="javascript:void(0)">Help &amp; Support</a></li>
            </ul>
          </div>
        </div>
        <!--<div class="col-sm-6 col-md-3">
          <div class="footer-widget usefull-link">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="javascript:void(0)">Popular Search</a></li>
              <li><a href="javascript:void(0)">Locations, we are in</a></li>
              <li><a href="javascript:void(0)">Terms of use</a></li>
              <li><a href="javascript:void(0)">Privacy</a></li>
              <li><a href="javascript:void(0)">Contact us</a></li>
            </ul>
          </div>
        </div>-->
        <div class="col-sm-6 col-md-3">
          <div class="footer-widget usefull-link">
            <h3>Follow us</h3>
            <ul class="social-network social-circle">
              <li><a href="javascript:void(0)" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
              <li><a href="javascript:void(0)" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:void(0)" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:void(0)" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:void(0)" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrapper text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; 2018 Logo. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>